html,
body {
  background-color: #000000;
  margin: 0;
  height: 100%;
}
canvas {
  display: block;
  height: 100%;
  aspect-ratio: 1;
  margin: auto;
}
#info, #what {
  font-size: 18px;
  font-family: monospace;
  color: #cccccc;
  position: absolute;
  margin: 1em;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.8);
}
#info {
  top: 0;
  left: 0;
}
#what {
  top: 0;
  right: 0;
}
